html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map-canvas { height: 100%}

#panel {
	position: absolute;
	top: 5px;
	margin-left: 20%;
	z-index: 5;
	background-color:#fff;
	padding: 5px;
	border: 1px solid #999;
}


#console {
	position: absolute;
	top: 5px;
	margin-left: 60%;
	z-index: 5;
	background-color:#fff;
	padding: 5px;
	border: 1px solid #999;
	width: 380px;
	height: 47px;
}

#line1, #line2 {
	margin: 0px;
	height: 23px;
}